# =========================
# Flutter
# =========================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
ios/Pods/
ios/.symlinks/
android/.gradle/
android/app/debug
android/app/profile
android/app/release

# VS Code
.vscode/
.idea/

# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# AWS SAM
# =========================
.aws-sam/

# =========================
# Environment files
# =========================
.env
.env.*
*.env

# =========================
# Logs
# =========================
logs
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db